@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/inter');

@layer base {
  html, body {
    font-family: 'Inter', sans-serif;
  }
}

button, input, select, textarea {
  background-color: transparent;
  border-style: inherit !important;
}